<a href="https://colab.research.google.com/github/sri-7198/ENCORED/blob/main/adult.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# Load the dataset
file_path = "adult.data"
column_names = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
                "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss",
                "hours-per-week", "native-country", "income"]
adult_data = pd.read_csv(file_path, names=column_names, na_values=' ?')

# Identify duplicate rows
duplicate_rows = adult_data.duplicated()

# Remove duplicate rows
cleaned_adult_data = adult_data.drop_duplicates()

# Verify removal
if cleaned_adult_data.duplicated().sum() == 0:
    print("Duplicate rows have been successfully removed.")
else:
    print("Duplicate rows are still present in the dataset.")

Duplicate rows have been successfully removed.